<h4>Notes for <%= @game.date.to_formatted_s(:long) %></h4>

<table class='table grey-background'>
  <thead>
    <tr>
      <th>Author</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @notes.each do |note| %>
      <tr class=<%=note.player.name.downcase%>>
        <td><%= note.player.name %></td>
        <td><%= note.body %></td>
        <td><%= link_to 'Edit', edit_game_note_path(@game, note), class: 'btn btn-warning' %></td>
        <td><%= link_to 'Destroy', game_note_path(@game, note), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Add a Note', new_game_note_path(@game), class: 'btn btn-success' %>
<%= link_to 'All Games', games_path, class: 'btn btn-warning' %>
