<p id="notice"><%= notice %></p>

<p>
  <strong>Author:</strong>
  <%= @note.player.name %>
</p>

<p>
  <strong>Game:</strong>
  <%= @note.game.date %>
</p>

<p>
  <strong>Body:</strong>
  <%= @note.body %>
</p>

<%= link_to 'Edit', edit_game_note_path(@game, @note) %> |
<%= link_to 'Back', game_notes_path(@game) %>
