<div class='row'>
  <div class='col-md-4'>
    <div class='grey-background'>
      <b>Total games:</b>
      <p><%= Game.count %></p>
      <b>Draws:</b>
      <p><%= Game.draws.count %></p>
    </div>

  </div>
  <div class='col-md-4'>
    <div class='grey-background'>
      <table class='table table-condensed'>
        <thead>
          <tr>
            <th>Player</th>
            <th>Wins</th>
            <th>Goals</th>
          </tr>
        </thead>

        <% @players.each do |player| %>
          <tr class='<%= player.name.downcase %>'>
            <td><%= player.name %></td>
            <td><%= Game.wins_by(player).count %></td>
            <td><%= player.total_score %></p>
          </tr>
        <% end %>
      </table>
    </div>
  </div>

  <div class='col-md-4'>
    <table class='table table-condensed'>
      <thead>
        <tr class='grey-background'>
          <th>Top three wins</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>

      <% Game.biggest_wins(3).each do |game|  %>
        <tr>
          <td class='<%= game.winner.name.downcase %>' >
            <%= game.winner.name %>
          </td>
        <% game.scores.order('score DESC').each do |score| %>
          <td class='<%= score.player.name.downcase %>'><%= score.score %></td>
        <% end %>
        </tr>
      <% end %>
    </table>
  </div>
</div>

<div class='row grey-background'>
  <div class='col-md-12'>
    <table class='table table-condensed'>
    <h4>All games <%= link_to 'Add a game', new_game_path, class: 'btn btn-success' %></h4>
      <thead>
        <tr class='grey-background', columns='5'>
          <% @players.each do |player| %>
          <th><%= player.name %></th>
          <% end %>
          <th>Date</th>
          <th>Notes</th>
        </tr>
      </thead>

      <tbody>
        <% @games.each_with_index do |game, index| %>
          <tr class=<%= game.winner.present? ? game.winner.name.downcase : 'draw' %>>
            <% @players.each do |player| %>
              <td class=<%= 'bold' if game.winner == player %>><%= game.score(player) %></td>
            <% end %>
            <td><%= game.date %></td>
            <td>
             <%= link_to 'Add note', new_game_note_path(game), class: 'btn btn-success' %> 
             <% if game.notes.present? %>
               <%= link_to 'View notes', game_notes_path(game), class: 'btn btn-info' %> 
             <% end %>
           </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
